
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 90vw;
    height: 100vh;
    background: url(/projeto-iphone/imagens/fundo-madeira.jpg) no-repeat fixed;
    background-size: cover;

}

main{
    position: relative;
    height: 100vh;
    
}

div#iphone{
    min-height: 626px;
    min-width: 311px;
    background-color: blue;
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate( -50%, -50%);
    background: url(/projeto-iphone/imagens/frame-iphone.png) no-repeat;
    margin-left: 0px;
    margin-right: 1px;
    
}

iframe#tela{
    width: 265px;
    height: 469px;
    position: absolute;
    transform: translate(23px, 81px);
    
}

div#redes-sociais {
    position: absolute;
    top: 18%;
    right: -10%;
    text-align: center;
}

li{
    list-style: none;
    margin-left: 10px;
    margin-right: 1px;
}

 li img {
    max-width: 50px;
    min-width: 10px;
    border-radius: 50%;
    margin-top: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

img:hover{
    width: 60px;
    transform: scale(120%);
    transition: transform .2s;
    text-align: center;
    border: 1px solid white;
}