
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 90vw;
    height: 100vh;
    background: url(/projeto-iphone/imagens/fundo-madeira.jpg) no-repeat fixed;
    background-size: cover;

}

main{
    position: relative;
    height: 100vh;
    
}

div#iphone{
    height: 626px;
    width: 311px;
    background-color: blue;
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate( -50%, -50%);
    background: url(/projeto-iphone/imagens/frame-iphone.png) no-repeat;
    
}

iframe#tela{
    width: 265px;
    height: 469px;
    position: absolute;
    transform: translate(23px, 81px);
    
}

div#redes-sociais {
    position: absolute;
    top: 18%;
    left: 95%;
    text-align: center;
}

li{
    list-style: none;

}

 li img {
    width: 50px;
    border-radius: 50%;
    
}

img:hover{
    width: 60px;
    transform: scale(110%);
    text-align: center;

}